.job-item-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(176, 176, 176);
  color: black;
}

.logo-container {
  max-width: 10vh;
}

.spacer-container {
  display: flex;
}

.text-container {
  display: inline;
  align-content: center;
  margin-left: 1vw;
}

.title-container {
  font-weight: bold;
}

.info-container {
  display: flex;
  gap: 3vh;
}

.company-container {
  font-weight: lighter;
}

.reference-container {
  font-weight: lighter;
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.icon-star {
  width: 25px;
}