<div class="spacer-container" (click)="this.showJobDetails()">
  <div class="logo-container">
    <img [src]="this.jobItem.companyLogo"/>
  </div>
  <div class="text-container">
    <div class="title-container">
      {{this.jobItem.title}}
    </div>
    <div class="info-container">
      <div class="company-container">
        Company: {{this.jobItem.companyName}}
      </div>
      <div class="reference-container">
        Reference: {{this.jobItem.reference}}
      </div>
    </div>
  </div>
</div>