.logo-container {
  max-width: 5vw;
}

.spacer-container {
  display: flex;
}

.text-container {
  display: inline;
  align-content: center;
  margin-left: 1vw;
}

.title-container {
  font-weight: bold;
}

.info-container {
  display: flex;
  gap: 3vh;
}

.company-container {
  font-weight: lighter;
}

.reference-container {
  font-weight: lighter;
}

.favorite-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.icon-star {
  width: 6vh;
  height: 6vh;
  background-size: 6vh;
  background-image: url('/assets/icons/star-outlined.png');
}

.active {
  width: 6vh;
  height: 6vh;
  background-size: 6vh;
  background-image: url('/assets/icons/star-filled.png');
}