.logo-container {
  max-width: 3vw;
}

.spacer-container {
  display: flex;
}

.text-container {
  display: inline;
  align-content: center;
  margin-left: 1vw;
}

.title-container {
  font-weight: bold;
  font-size: larger;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.info-container {
  display: flex;
  gap: 3vh;
}

.company-container {
  font-weight: lighter;
}

.reference-container {
  font-weight: lighter;
}
