@if(this.jobItem) {
<div class="spacer-container">
  <div class="logo-container">
    <img [src]="this.jobItem.companyLogo" alt="company logo"/>
  </div>
  <div class="text-container">
    <div class="title-container" (click)="this.showJobDetails()">
      {{this.jobItem.title}}
    </div>
    <div class="info-container">
      <div class="company-container">
        Company: {{this.jobItem.companyName}}
      </div>
      <div class="reference-container">
        Reference: {{this.jobItem.reference}}
      </div>
    </div>
  </div>
</div>
}